<header>
  <nav>
    <div class="nav-links">
      <div>
        <a id="brand" href="/">PasswordKeeper</a>
      </div>

    <% if(!email) { %>
      <div>
        <a href= '/#about' scroll-behaviour: smooth;>About</a>
      </div>
    <% } %>

      <div>
        <a href="/organizations" scroll-behaviour: smooth;>Organizations</a>
      </div>
    </div>

    <div class="nav-user-logout">
      <div class="nav-user">
        <i class="fa fa-user-astronaut fa-2x"></i>

        <div class="nav-user-email">
          <%= email %>
        </div>
      </div>

      <div>
        <form method="POST" action="/login/logout">
          <button type="submit" id="logout" name="logout">
            <span class="logout-text">Logout</span>
            <i class="fa fa-rocket"></i>
          </button>
        </form>
      </div>

    </div>
  </nav>

</header>


