<main class="add-main">
    <div>
      <h1>Add Organization</h1>
      <div class="org-input">
          <form id="submit-new" method="POST" action="/organizations">
            <div id="new-org">
              <label for="name" class="org-url">
                <p class="par-inp">
                  Organization Name:
                </p>
                <input class="logo-name" id= "org-name" type="text"  name="name" placeholder="Organization Name">
              </label>
            </div>
            <div>
              <label for="logo_url" class="org-url">
                <div>
                  <p class="par-inp">
                    Organization Logo Image URL
                    (PNG & JPG Only):
                  </p>
                </div>
                <div>
                  <input class="logo-url" type="text"  name="logo_url" placeholder="http://">
                </div>

              </label>
            </div>

            <div id="ord-btn">
              <button type="submit" id="org-add-btn">Add</button>
            </div>


          </form>
      </div>
    </div>
</main>

