<main class="main-layout add-main">
    <div>
      <h1>Add Organization</h1>
      <div class="org-input">
          <form class="submit-new" method="POST" action="/organizations">
            <div id="new-org">
              <label for="name" class="org-url">
                <p class="par-inp">
                  Organization Name:
                </p>
                <input class="logo-name org-name"
                type="text"  name="name" placeholder="Name">
              </label>
            </div>
              <div>
                <label for="logo_url" class="org-url">
                  <div>
                    <p class="par-inp">
                      Organization Logo Image URL:
                    </p>
                  </div>
                  <div>
                    <input class="logo-url" type="text"  name="image">
                  </div>

                </label>
              </div>
            <div class="org-btn">
              <button type="submit" class="org-add-btn">Add</button>
            </div>

          </form>
      </div>
    </div>
</main>



