<div id="edit-org">
  <main class="add-main">
    <div class="org-edit">
      <h1>Edit Organization Details</h1>
      <div class="org-input">
          <form id="submit-edit" method="POST" action="/organizations/<%=organization.organization_id %>">
            <div id="new-org">
              <label for="orgName" class="org-url">
                <p class="par-inp">
                  Organization Name:
                </p>
                <input class="org-name" type="text" name="orgName">
              </label>
            </div>
            <div>
              <label for="logo_url" class="org-url">
                <div>
                  <p class="par-inp">
                    Organization Logo Image URL:
                  </p>
                </div>
                <div>
                  <input class="logo-url" type="text" name="logo_url" placeholder="http://">
                </div>
              </label>
            </div>

            <div id="ord-btn">
              <button type="submit" id="org-edit-btn">Edit</button>
            </div>

          </form>
          <hr>
      </div>
    </div>
  </main>
</div>
