<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include('../partials/_head') %>

    <title>PasswordKeeper - New Organization</title>
  </head>

  <body>
    <header>
      <nav>
        <div>
          LOGO
        </div>

        <div class='dropdown'>
          <button>
            Categories (icon)
          </button>
          <div class='dropdown-content'>
            <a href ='#'> Cat1</a>
            <a href ='#'> Cat2</a>
            <a href ='#'> Cat3</a>
          </div>
        </div>

        <div class='nav-right'>
          <div>Favourites Icon</div>
          <div>User_Email(tempVar)</div>
          <div>
            <form method="POST" action="/logout">
              <button type="submit">Log Out</button>
            </form>
          </div>
        </div>
      </nav>

    </header>

    <main>
      <div>
        <h3>Add Organization</h3>
        <form id="add-org" method="POST" action="/organizations">
          <div>
            <label for="name">Organization Name
              <div class="error-min-input">
                <p> &#9888 Invalid. Minimum character length is 1 (one). </p>
              </div>
              <input id="org-name" type="text" name="name" placeholder="Organization Name">
            </label>

            <label for="logo_url">Organization Logo Image URL
              <span>(auto resize to 300 x 300)</span>
              <div class="invalid-url">
                <p> &#9888 Invalid Url. </p>
              </div>
            <input id="logo-url" type="text" name="logo_url" placeholder="http://">
            </label>

            <button type="submit">Add</button>
          </div>
        </form>
     </div>
    </main>

    <footer>
      <a href="/organizations">
        <button type="submit">My Organizations</button>
      </a>
    </footer>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script type="text/javascript" src="/scripts/organization_new.js"></script>
  </body>
</html>