<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PasswordKeeper</title>

  <%- include('./partials/_head') %>
  
  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body class="container">
  <header id="landing-page-header">
    <nav>
      <div class="nav-links">
        <div>
          <a id="brand" href="/">PasswordKeeper</a>
        </div>
        
        <div>
          <a type="button" href= '/#about' scroll-behaviour: smooth;>About</a>
        </div>
  
        <div>
          <a type="button" href="/organizations" scroll-behaviour: smooth;>Organizations</a>
        </div>
      </div>
  
      <div class="nav-user-logout">
        <div class="nav-user">
          <i class="fa fa-user-astronaut fa-2x"></i>
        
          <div class="nav-user-email">
            <%= email %>
          </div>
        </div>
  
        <div>
          <form method="POST" action="/login/logout">
            <button type="submit" id="logout" name="logout">
              <span class="logout-text">Logout</span>
              <i class="fa fa-rocket"></i>
            </button>
          </form>
        </div>
  
      </div>
    </nav>
  
  </header>

<main>
    <div id="login" style= "display: none" >
      <%- include('user_login') %>
    </div>
    <div class="jumbotron">
        <h1>Keep your password safe with us</h1>
        <p>Welcome to PasswordKeeper</p>
        <img src = "/images/home-pic1.jpg"  class="img-thumbnail"/>
    </div>

    <div class="container-fluid" id='about'>
      <div>
        <p><b>What is a password manager?</b></p>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit necessitatibus iste facere, quae perferendis architecto, id cumque maiores minima maxime consectetur deleniti voluptates reiciendis? Optio atque provident in non magnam?</p>
      </div>
      <img src = "/images/1.jpg"  class="img-thumbnail"/>
    </div>

</main>

<footer>
  <p class="text-center text-muted">© Copyright 2020 The Awesome People</p>
</footer>

</body>

<script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/login-register.js"></script>
</html>
