<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PasswordKeeper</title>

  <%- include('./partials/_head') %>

  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body class="container">
  <header id="landing-page-header">
    <nav>
      <div class="nav-links">
        <div>
          <a id="brand" href="/">PasswordKeeper</a>
        </div>

        <div>
          <a type="button" href= '/#about' scroll-behaviour: smooth;>About</a>
        </div>

        <div>
          <a type="button" href="/organizations" scroll-behaviour: smooth;>Organizations</a>
        </div>
      </div>

      <div class="nav-user-logout">
        <div class="nav-user">
          <i class="fa fa-user-astronaut fa-2x"></i>

          <div class="nav-user-email">
            <%= email %>
          </div>
        </div>

        <div>
          <form method="POST" action="/login/logout">
            <button type="submit" id="logout" name="logout">
              <span class="logout-text">Logout</span>
              <i class="fa fa-rocket"></i>
            </button>
          </form>
        </div>

      </div>
    </nav>

  </header>

<main>
    <div id="login" style= "display: none" >
      <%- include('user_login') %>
    </div>
    <div class="jumbotron">
        <h1>Keep your password safe with us</h1>
        <p>Welcome to PasswordKeeper</p>
        <div class="slideshow-container">

          <!-- Full-width images with number and caption text -->
          <div class="mySlides">
            <img src = "/images/landing-pic.png" style="width:100%"/>
            <div class="text">Build Your Organization</div>
          </div>

          <div class="mySlides">
            <img src = "/images/setting-page.png" style="width:100%"/>
            <div class="text">Add the Employee</div>
          </div>

          <div class="mySlides">
            <img src = "/images/webistes-page.png" style="width:100%"/>
            <div class="text">Share Different Website Password's with Employee</div>
          </div>

          <!-- Next and previous buttons -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <!-- The dots/circles -->
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>

    <div class="container-fluid" id='about'>
      <div>
        <h2><b>What is PasswordKeeper?</b></h2>
        <h4 class="description">   PasswordKeeper is a website build by three LightHouse Labs Peers for their midterm project where corporations and organizations can keep thri password collection safe and be able to share it with other Employees. This will cut off major delays related for user authintication for certain website access of companies. Register and get access to this amazing website.</h4>
      </div>
      <img src = "/images/images.jpeg"  alt= "cool cats image" class="img-thumbnail"/>
    </div>

</main>

<footer>
  <%- include('./partials/_footer_org') %>
</footer>

</body>

</html>
