<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head') %>

    <title>PasswordKeeper - Home </title>
  </head>
<body>
  <main style="margin: 1em;">
    <h3>Log In:</h3>
    <div class="card-body px-lg-5 pt-0">
      <form class="text-center" style="color: #757575;" method = "POST" action="/organizations">
        <div class="md-form">
          <label for="materialLoginFormEmail"><b>Email:</b></label>
          <input type="email" name="email" id="materialLoginFormEmail" class="form-control"/>
        </div>
          <div class="md-form">
            <label for="materialLoginFormPassword"><b>Password:</b></label>
            <input type="password" name="password" id="materialLoginFormPassword" class="form-control"/>
          </div>
        <button class="btn btn-success btn-block my-4 waves-effect z-depth-0" type="submit">Log In</button>
      </form>
    </div>
  </main>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
