header {
  position: sticky;
  top: 0;
  height: 90;
  color: white ;
  scroll-padding-bottom: 10px;
  display : flex;
  justify-content: space-between;

  .navbar {
    margin: 0 0 10px 0;
    width: 100%;
    border-radius: 10px;
  }
  .Register-Login {
    display: flex;
    justify-content: center;
  }

  .nav-button {
    color: rgba(0,0,0,.5);
    border: none;
    background-color: #f8f9fa!important;
  }
}


.container-fluid {
  display: flex;
  background-color: #e9ecef;
  padding: 4rem 2rem;

  .description{
    padding-right: 20px;
  }

  .img-thumbnail {
    width: auto;
    align-self: flex-start;
  }
}

.error-container {
  color: #e9ecef;
  display: flex;
  align-items: center;
  border-color: red;
  border: solid;
  background-color: white;
  width: 100px;
  height: fit-content;
}
