.container {
  padding-top: 16px;
}
#landing-page-header {
  width: 100%;
}

header {
  width: 80%;
}

.landing-header {
  width: 100%;
}

nav {
  padding: 32px !important;
}

#items {
  display: flex;
  align-items: baseline;
}

.nav-item {
  margin-right: 10px;
}



header .nav-button {
  border: none;
  background-color: transparent;
  font-size: 1.563rem;
  font-family: monospace;
  color: rgb(70, 68, 68);
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 2px solid cornflowerblue;
  padding: 2rem;
  margin: 1rem 0 1rem 0;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links div {
  margin: 0 2.5rem 0 0;
}

.nav-links a {
  font-size: 1.563rem;
  font-family: monospace;
  color: rgb(70, 68, 68);
  text-decoration: none;
}

#brand{
  font-size: 1.953rem;
  font-weight: bold;
  font-family: monospace;
  color: darkblue;
}

.nav-user-logout {
  display: flex;
  justify-content: space-between;
  color: rgb(70, 68, 68);
}

.nav-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-user-email {
  margin: 0 1rem 0 1rem;
  font-size: 1.25rem;
}

#logout {
  position: relative;
  display: inline-block;
  border-color: darkblue;
  color: cornflowerblue;
  border-radius: 5px;
  font-size: 1.25rem;
  cursor: pointer;
}

.logout-text {
  visibility: hidden;
  width: 4rem;
  background-color: rgb(70, 68, 68);
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 6px;
  padding: 3px 0;

  /* Position the text */
  position: absolute;
  z-index: 1;
  bottom: 115%;
  left: 50%;
  margin-left: -2rem;
}

/* Pseudo Selectors */

.nav-links a:hover {
  color: cornflowerblue;
  text-decoration: none;
}

#brand:hover {
  color: cornflowerblue;
}

#logout:hover {
  color: white;
  background-color: cornflowerblue;
}

#logout:hover .logout-text {
  visibility: visible;
}

.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e9ecef;
  padding: 4rem 2rem;
}

.container-fluid .description {
  padding-right: 20px;
}

.container-fluid .img-thumbnail {
  width: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
