body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #545149;
  font-size: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;

}

body h1 {
  color: #244751;
}

main {
  background-color: rgb(224, 222, 223);
  width: 80%;
  padding: 10px;
}

.sites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


}

.site-entry {
  width: 30%;
  margin: 15px;
  border-radius: 10px;
}

.site-info {
  background-color: rgb(215, 215, 238);
  padding: 10px;
  border-radius: 10px;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-header{
  font-weight: bold;
}

.btn {
  margin: 15px;
}

#adding {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 80px;
}


.add-new span{
  color: red;
}
