.org-setting-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.org-delete-btn {
  height: 40px;
  padding-right: 30px;
  margin-top: 30px;
  width: 100%;
  border: none;
  border-radius: 20px;
  background-color: #dc3545;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding-left: 30px;
  cursor: pointer;
}

hr {
  border: none;
  height: 3px;
  background: #244751;
  width: 80%;
}

#new-user {
  margin: 20px;

}

#add-user {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}
