body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #545149;
  font-size: 40px;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

main {
  background-color: rgb(224, 222, 223);
  width: 80%;
  padding: 10px;
}
main h1 {
  color: #244751;
}

.sites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.site-entry {
  width: 30%;
  margin: 15px;
  border-radius: 10px;
}

.site-entry button {
  border: none;
}
.card-header{
  font-weight: bold;
}


.logo-image {
  width: 300px;
  height: 300px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px;
}

.error-min-input,
.invalid-url,
.invalid-email,
.error-user {
  display: none;
  color: #ff5f54;
  font-size: 1rem;
}
