.site {
  width: 300px;
  height: 300px;
  border: 2px solid #000000;
  margin: 20px;
}

.logo-image {
  width: 300px;
  height: 300px;
}

.error-min-input,
.invalid-url,
.invalid-email,
.error-user {
  display: none;
  color: #ff5f54;
  font-size: 1rem;
}